.card{
  margin-bottom: 5em;
  background-color: grey;
  border: 5px inset yellow;
  border-radius: 12px;
  background-color: rgb(202, 96, 96);
  @include center;
  flex-direction: column;
}
.cardHeader{
  @include center;
  flex-direction: column;

  & > img{
    margin-top: 1em;
    width: 12em;
    border: 1px solid $primary-color-red;
    background-color: rgb(216, 255, 164);
  }
}