@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin inputsText {
    height: 2.5rem;
    width: 20em;
    margin-top: 2em;
    font-weight: 600;
    border: 0;
    background-color: $primary-color-blue;
    opacity: 0.8;
    color: $primary-color-yellow;
    outline: none;
    text-indent: 1em;
    border-radius: 10px;
}
